body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  max-width: 960px;
  margin: 20px auto;
  color: #333;
  background-color: #f1f1f1;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 0;
}
.sub {
  font-size: 1.1rem;
  margin-top: 5px;
  color: #555;
}

.controls {
  display: flex;
  flex-wrap: wrap; 
  gap: 15px; 
  align-items: center;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.controls label {
  display: flex;
  flex-direction: column; 
  gap: 5px;
  font-size: 0.9rem;
  font-weight: 500;
}

.controls span {
  font-weight: 600;
  color: #0056b3;
}

button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}
button:hover {
  background-color: #0056b3;
}


/* (90%) */

.band90 {
  fill: #f1e20a; 
  fill-opacity: 0.7; 
  stroke: none; 
}

/* (25%-75%) */
.band50 {
  fill: #3ac621;
  fill-opacity: 0.7;
  stroke: none;
}

/* median */
.median {
  fill: none;
  stroke: #08519c; 
  stroke-width: 2.5px; 
}

/* axis */
.x-axis,
.y-axis {
  font-size: 12px;
  color: #555;
}

/* legend */
.legend {
  text-align: center;
  font-size: 0.9rem;
}
.legend span {
  margin: 0 10px;
  position: relative;
  padding-left: 20px;
}
/* legend color blocks */
.legend .band90::before {
  content: "";
  background-color: #f1e20a;
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 2px;
}
.legend .band50::before {
  content: "";
  background-color: #3ac621;
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 2px;
}
.legend .median::before {
  content: "";
  background-color: #08519c;
  width: 15px;
  height: 2.5px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 8px;
}

.chart-wrap {
  background-color: #ffffff; 
  border: 2px solid #ddd; 
  border-radius: 10px; 
}